
:root {
    --color-red: color(display-p3 0.677 0.33 0.322);
    --color-green: color(display-p3 0.329 0.561 0.18);
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial;
    font-size: 1rem;
}

iframe {
    display: inline-block;
    border: 2px solid black;
}

h1 {
    margin: -10px -10px 10px -10px;
    padding: 10px 14px;
    font-size: 1rem;
    background-color: lightgray;
}

x-title {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem
}

x-links {display: block; margin: 20px 0}
x-links x-block {display: inline-block; vertical-align: top; margin-right: 20px}
x-links a {display: block; margin-left: 20px; font-size: 0.8rem}

x-states {display: block; margin: 20px 0}
body[data-is-frame] x-states {margin: 0}
x-states x-indicator {
    display: block;
    width: 240px;
    margin: 1px;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 0.7rem;
    color: white;
    background: var(--color-red);
}
x-states x-indicator[data-js-active] {
    background: var(--color-green);
}

x-frames {display: block}
x-frames iframe {display: inline-block}